/*CSS do header*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 130px;
}

.header-left {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 16px;
}

/* CSS do corpo abaixo do header */
.body {
    display: flex;
    align-items: center;
    background: #1F2937;
    height: 250px;
    padding: 50px 130px;
}

.body-left {
    max-width: 50%; 
    margin-left: 9px; 
}

.body-title {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
}

.body-content {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    padding: 5px 0;
}

.sign-up {
    display: block;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    width: 125px;
    padding: 5px 20px;
    border: 2px;
    border-radius: 7px;
}

.placeholder {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: 18px;
    width: 250px;
    height: 200px;
    margin-left: 100px;
    padding: 0 130px;
}

/*CSS da parte de container*/
.container-gen {
    text-align: center;
    background-color: white;
    height: 350px;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
}

.container-info {
    display: flex;
    margin-left: 380px;
    max-width: 100px;
    gap: 30px;
}

.image-space {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
}

.text {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    color: #1F2937;
    flex-wrap: wrap;
    padding: 5px 0;
}