.header {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    background-color: #1F2937;
}

.header-left {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: white;
}